<!DOCTYPE html>
<html>

<head>
<title>Host</title>


<link rel="stylesheet" type="text/css"href="css/style.css" >
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>



</head>



<body>
	
	<div id="sidebar-black" class="sidebar-nav">
	  <nav id="navbar-black" class="navbar navbar-default">
		<div class="navbar-header">
		  <span>Host</span>
		</div>
		
		<div class="navbar-collapse collapse sidebar-navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="index.html"><i class="glyphicon glyphicon-user"></i> Profile </a></li>
				<li><a href="index.html"><i class="glyphicon glyphicon-list-alt"></i> Client </a></li>
				<li><a href="host.html"><i class="glyphicon glyphicon-search"></i> Host </a></li>
				<li><a href="index.html"><i class="glyphicon glyphicon-th-list"></i> Sensors </a></li>
			</ul>
		</div><!--/.nav-collapse -->
		
	  </nav><!--/.navbar -->
	</div><!--/.sidebar-nav -->  
  
  <main class="page-wrapper">  
    <div class="col-md-6">
		<form>
		  <div class="form-group row">
			<label for="inputSystem" class="col-sm-2 form-control-label">System</label>
			<div class="col-sm-10">
			  <select class="c-select">
				  <option selected>Choose</option>
				  <option value="1">Linux</option>
				  <option value="2">Windows</option>
				</select>
			</div>
		  </div>
		  <div class="form-group row">
			<label for="inputHostName" class="col-sm-2 form-control-label">Hostname</label>
			<div class="col-sm-10">
			  <input type="text" class="form-control" id="inputHostName">
			</div>
		  </div>
		   <div class="form-group row">
			<label for="inputMesaurement" class="col-sm-2 form-control-label">Mesaurement type</label>
			<div class="col-sm-10">
			  <input type="text" class="form-control" id="inputMesaurement">
			</div>
		  </div>
		  <div class="form-group row">
			<label for="inputTime" class="col-sm-2 form-control-label">Time</label>
			<div class="col-sm-10">
			  <input type="time" class="form-control" id="inputTime">
			</div>
		  </div>
		  <div class="form-group row">
			<div class="col-sm-offset-2 col-sm-10">
			  <button type="submit" class="btn btn-secondary">Search</button>
			</div>
		  </div>
		</form>
    </div>
  </main>

</body>
</html>
